/***字体引入重复可以去掉**/
@font-face {
    font-family: 'heading_pro_bold';
    src: url('../font/headingpro-bold.eot');
    src: url('../font/headingpro-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/headingpro-bold.woff2') format('woff2'),
         url('../font/headingpro-bold.woff') format('woff'),
         url('../font/headingpro-bold.ttf') format('truetype'),
         url('../font/headingpro-bold.svg#heading_pro_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;/*-apple-system-font,Helvetica Neue,sans-serif*/
}
html,body {
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-user-select:none;
    width: 100%;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
    margin:0;
    border:0;
    padding:0;
    font-style:normal;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
ul, li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
input,select {
    border: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    line-height: normal;
    font: inherit;
    text-align: inherit;
    box-sizing: border-box;
    -webkit-user-select: text;
    user-select: text;
    -webkit-appearance: none;
    appearance: none;
}
select {
    padding: 0 .2rem;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}
body {
    background: #f5f5f5 url(../images/bg.jpg) no-repeat center center fixed;
    background-size:cover;
    line-height: 1.5;
    font-size: .22rem;
    color: #000;
    outline: 0;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
.calculate {
    overflow: hidden;
    padding: .3rem 0 .6rem;
}
.calculate header {
    text-align: center;
    padding: 0 .2rem;
}
.ctxt {
    font-size: .44rem;
    letter-spacing: .05rem;
}
.clogo {
    width: 2.16rem;
    margin: 0 auto .1rem;
    display: block;
}
.citem {
    padding: .1rem .3rem;
}
.citem2 {
    padding-top: .02rem;
}
.ctitle {
    font-size: .29rem;
    font-weight: 700;
    text-align:center;
}
.clist {
    overflow: hidden;
    text-align: center;
}
.clist li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 36%;
    float: left;
    margin: 3.3% 7%;
}
.clist li.cfull {
    width: 86%;
}
.cmar1 {
    margin-right: .15rem;
    display: inline-block;
}
.cinfo {
    flex:1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: .01rem solid #000;
    position: relative;
}
.carrow:after {
    content: " ";
    display: inline-block;
    height: .06rem;
    width:.06rem;
    border-width: .02rem .02rem 0 0;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,.71,-.71,0,0);
    transform: matrix(.71,.71,.71,-.71,0,0);
    position: absolute;
    top: 50%;
    margin-top: -.04rem;
    right: .02rem;
}
.cicon {
    width: .56rem;
    height: .56rem;
    border-radius: .06rem;
    overflow: hidden;
}
.cicon img {
    width: 100%;
}
.ctxt1 {
    font-family: heading_pro_bold;
    font-size: .52rem;
    line-height: .5;
}
.ctxt2 {
    text-align: center;
}
.clist2 {
    text-align: left;
    margin: .2rem .2rem 0;
    font-size: .22rem;
    overflow: hidden;
}
.clist2 li {
    text-align: left;
    min-width: 1.4rem;
}
.clist2 .cicon {
    display: block;
    margin: 0 .1rem auto;
	width: 1rem;
    height: 1rem;
}
.clist2 .ctxt1 {
    display: inline-block;
}
.cinfo2 {
    margin-top: .24rem;
}
.clist3 {
    text-align: left;
    margin: 0 2% 0 7%;
    font-size: .2rem;
}
.clist3 li {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 3.3% 0 0;
    width: auto;
    min-width: 1.7rem;
}
.clist3 .cicon {
    width: .55rem;
    height: .55rem;
    margin-right: .1rem;
}
.clist3 .ctxt1 {
    font-size: .28rem;
    line-height: 1;
    display: inline-block;
}
.clist3 .cinfo2 {
    margin: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
.cbtn {
    display: block;
    text-align: center;
    width: 2.46rem;
    margin: .35rem auto 0;
    padding: .08rem .2rem;
    font-size: .25rem;
    border-radius: .28rem;
    background-color: #fbc300;
    float:left;
    margin-left: .5rem;
}
.cbbn{
  display: block;
  text-align: center;
  width: 2.86rem;
  margin: .35rem auto 0;
  padding: .08rem .2rem;
  font-size: .25rem;
  border-radius: .28rem;
  background-color: #fbc300;
  float:left;
  margin-left: .2rem;
}

.cbbnt{
    display: block;
    text-align: center;
    border-radius: .1rem;
    background-color: #fbc300;
    float:left;
  }


.text{
	font-size:.20rem;
	text-align:center;
}
